/* .containerDiv {
 
} */

.containerCard {
  
    height: 470px;
    width: 470px;
    text-align: center;
    margin: 20px ;
    padding: 10px;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(1, 1, 1, 0.8), rgba(179, 2, 149, 0.8)),
      url("../../imagenes/cyberpunk-ponpon.gif")
        center no-repeat;
    image-resolution: 100%;
    background-size: 179%;
    border: 2px solid rgb(70, 20, 187);
    border-radius: 30px;
  }
  .containerCard:hover {
    transform: scale(1.1);
    border: 5px double rgb(221, 215, 212);
    transition: all 2s, ease;
  }


  
  .imageDiv  {
     width: 100%; /* esto era lo unico que tenia el imagedivnoborrar */
    
      
     
     position: relative;
     
  }
  .textDiv {
     padding: auto;
  }

  .text {
    text-decoration: none ;
    color: white;
    padding: 20px;
    border: blink;
  }

  .image {
    width: 80%;
    border: 2px  outset rgba(116, 5, 92, 0.8);
    padding: 0px;
    border-radius: 20px;
    margin: 10px 0;
    object-fit: cover;
    height: 200px;
  }

  



 



 