.divContainer {
    width: 100%;
    display: flex;
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: linear-gradient(rgba(36, 33, 35, 0.678), rgba(36, 34, 35, 0.753));
    
}
.SegContainer {
    
}
.container {
    --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  
  box-shadow: 0 0 1em .2em var(--glow-color),
         0 0 1em 1em var(--glow-spread-color),
         inset 0 0 .24em .17em var(--glow-color);
    display: flex;
    position: relative;
    left: 955px;
    top: -749px;
    background: linear-gradient(rgba(41, 38, 40, 0.822), rgba(43, 40, 42, 0.945));
    width:1250px;
    height: 803px;
    text-align: start;
    line-height: 35px;
    padding: 20px 20px 15px 20px;
    color: #fffeff;
    text-shadow:
    1px 1px 2px #a9a0aa,
    1px 1px 2px #a89fa7,
    2px 2px 3px #d6d0d0,
    2px 2px 3px #c7bfbf,
    3px 3px 2px #040203,
    3px 3px 2px #c599c5,
    4px 4px 2px #c599c5,
    4px 4px 3px #c599c5,
    4px 4px 3px #c599c5,
    4px 5px 2px #c599c5,
    5px 5px 2px #050505,
    5px 5px 2px #000000,
    5px 5px 1px #696363,
    5px 5px 1px #080808,
    5px 5px 0px #201f20,
    5px 5px 0px #757172;
}
.containerButton{
    position: relative;
    top: -650px;
    left: 500px;
    
}

.lista {
    padding: 35px 5px 0px 15px;
}

.containerDescrip {
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    line-height: 45px;
}
.title{
   position: relative;
   left: 580px;
   padding: 30px;
   --glow-color: rgb(217, 176, 255);
   --glow-spread-color: rgba(191, 123, 255, 0.781);
   --enhanced-glow-color: rgb(231, 206, 255);
   --btn-color: rgb(100, 61, 136);
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    transition: all 0.3s;
    color: var(--glow-color);
    text-decoration: none;
    text-shadow:
     1px 2px 0px #a9a0aa,
     1px 2px 0px #a89fa7,
     1px 2px 51px #d6d0d0,
     2px 3px 1px #c7bfbf,
     2px 3px 2px #040203,
     2px 4px 52px #c599c5,
     3px 5px 2px #c599c5,
     3px 5px 3px #c599c5,
     3px 5px 3px #c599c5,
     5px 6px 2px #c599c5,
     6px 6px 2px #050505,
     7px 6px 2px #000000,
     7px 7px 1px #696363,
     7px 7px 1px #080808,
     7px 7px 0px #201f20,
     7px 8px 0px #757172; 
}

.imgDiv{ 
    position: relative;
    left: 105px;
    top:80px;
    display: flex;
    width: 563px;
    --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  
  box-shadow: 0 0 1em .2em var(--glow-color),
         0 0 1em 1em var(--glow-spread-color),
         inset 0 0 .24em .17em var(--glow-color);
}

.img {
  
}

.detailButton {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    
    text-decoration: none;
   }
   
   .detailButton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .detailButton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .detailButton:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
